/*common*/
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: Lato;
}
body{
    font-family: Montserrat;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
}
.main{
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*banner starts*/
.banner{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    height: 501px;
    background-color: black;
    padding: 80px;
    border-radius: 30px; 
}
.banner-in h1{
    margin-top: 68px;
    font-size: 70px;
    text-transform: capitalize;
    color: #ffff;
}
.banner-in p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    color: #ffff;
}
.banner-in a{
    padding: 10px 20px;
    background: #DD0000;
    color: #ffff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 5px;
}
.banner-in img{
    height: 540px;
    position: relative;
    left: 10%;
    bottom: -8%;
}
/*banner ends*/

/*blog starts*/
.blog{
    padding: 80px 0px;
} 
.multi{
    display: flex;
}
.box-1{
    width: 200px;
    height: 180px;
    padding: 30px;
    background: black;
    border-radius: 15px;
}
.link {
    padding: 12px 15px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    text-transform: capitalize;
    background: #ffff;
    text-align: center;
}
.up, .all{
    margin-bottom: 20px;
}
.link a{
    color: black;
}
.box-2{
    flex-grow: 1;
    margin-left: 30px;
}
.box-2 .card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 33px;
    grid-row-gap: 30px;
}
.in-card{
    border: 2px solid #eeee;
    border-radius: 10px;
}
.in-card button{
    margin-top: 10px;
    padding: 4px 15px;
    border-radius: 5px;
    border: 1px solid black; 
}
.in-card h3{
  margin: 15px 0px;  
}
.card-down{
    padding: 20px;
}
.time{
    margin-left: 5px;
}
.comment{
    margin-left: 20px;
}
.message{
    margin-left: 5px;
}
/*blog ends*/

